<div class="container" *ngIf="currentTaskPage === 'list'">
    <mat-card class="container">
        <mat-card-title>Liste des tâches</mat-card-title>
        <mat-card-content>
            <div *ngIf="tasks.length == 0">
                <h3 >Il n'y a rien par ici !</h3>
                <h4>Si vous ajoutez une tâche, elle apparaîtra ci-dessous.</h4>
            </div>
            <div *ngIf="tasks.length > 0">
                <mat-list *ngFor="let proj of projects">
                    <h3 mat-subheader>{{ proj.name }}</h3>
                    <div *ngFor="let task of tasks">
                        <mat-list-item *ngIf="task.assigned_project === proj.id">
                            <h4 mat-line>{{ task.name }}</h4>
                        </mat-list-item>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list>
                <mat-list>
                    <h3 mat-subheader>Non assignées à des projets</h3>
                    <div *ngFor="let task of tasks">
                        <mat-list-item *ngIf="task.assigned_project == null">
                            <h4 mat-line>{{ task.name }}</h4>
                        </mat-list-item>
                    </div>
                </mat-list>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="container" *ngIf="currentTaskPage === 'new'">

    <div *ngIf="message">
        {{ messageContent }}
    </div>

    <mat-card class="container">
        <mat-card-title>Créer une tâche</mat-card-title>
        <mat-card-content>
            <form #newTaskForm="ngForm" id="newTaskForm" (ngSubmit)="newTask(newTaskForm.value)">
                <mat-form-field class="row col-12">
                    <input type="text" name="name" ngModel matInput placeholder="Nom de la tâche" required>
                </mat-form-field>

                <div class="row justify-content-around">
                    <p>Date et heure de début :</p>
                    <p>Date et heure de fin :</p>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="row justify-content-center">
                            <mat-form-field class="col-5">
                                <input name="start_date_date" ngModel matInput [matDatepicker]="startPicker" placeholder="Date" required>
                                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                                <mat-datepicker #startPicker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <input type="time" name="start_date_time" ngModel matInput placeholder="" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row justify-content-center">
                            <mat-form-field class="col-5">
                                <input name="end_date_date" ngModel matInput [matDatepicker]="endPicker" placeholder="Date" required>
                                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                                <mat-datepicker #endPicker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <input type="time" name="end_date_time" ngModel matInput placeholder="" required>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="col-3">
                        <mat-checkbox [ngModel]="newTaskForm" name="reminder">Rappel</mat-checkbox>
                    </div>
                    <div class="col-9">
                        <mat-form-field class="col-4">
                            <mat-select placeholder="Récurrence" [ngModel]="newTaskForm" name="recurrence" required>
                                <mat-option value="quotidienne">Quotidienne</mat-option>
                                <mat-option value="last_day">Jour de fin</mat-option>
                                <mat-option value="five_last_day">5 jours avant la fin</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row justify-content-between">
                    <mat-form-field class="col-3">
                        <mat-select placeholder="Attribuer à" [ngModel]="newTaskForm" name="assigned_to" required>
                            <mat-option value="none">Non spécifié</mat-option>
                            <mat-option *ngFor="let user of users" [value]="user.id">{{ user.firstname }} {{ user.lastname }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-3">
                        <mat-select placeholder="Confidentialité" [ngModel]="newTaskForm" name="privacy" required>
                            <mat-option value="all">Tout le monde</mat-option>
                            <mat-option *ngFor="let user of users" [value]="user.id">{{ user.firstname }} {{ user.lastname }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-4">
                        <mat-select placeholder="Statut" [ngModel]="newTaskForm" name="status" required>
                            <mat-option value="todo">À faire</mat-option>
                            <mat-option value="wip">En cours de réalisation</mat-option>
                            <mat-option value="ended">Terminé</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <mat-form-field class="row col-12">
                    <textarea ngModel matInput name="description" placeholder="Description" required></textarea>
                </mat-form-field>

                <div class="row justify-content-around">
                    <button mat-button type="button" (click)="fileInput.click()">Joindre un fichier</button>
                    <input hidden type="file" name="attached_file" #fileInput (change)="uploadedFile($event)"/>

                    <button mat-raised-button type="submit" [disabled]="newTaskForm.invalid" color="accent">Enregistrer</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
