<div *ngIf="!auth.isLoggedIn()">
    <nav class="row justify-content-end">
        <p>Déjà client ?</p>
        <button mat-button routerLink="/login">Connexion</button>
    </nav>
    <main class="container">
        <router-outlet></router-outlet>
    </main>
</div>


<div *ngIf="auth.isLoggedIn()">
    <nav class="row justify-content-end">
        <div class="col-md-2 menu" routerLink="/task/new">
            <p><i class="material-icons">add</i>Nouvelle tâche</p>
        </div>
        <div class="col-md-2 menu">
            <p><i class="material-icons">chat_bubble</i>Nouvel événement</p>
        </div>
        <div class="col-md-2 menu" routerLink="/calendar">
            <p><i class="material-icons">grid_on</i>Afficher le calendrier</p>
        </div>
        <div class="col-md-1 menu">
            <p><i class="material-icons">view_list</i>Projets</p>
        </div>
        <div class="col-md-3">
            <div class="col-md-10">
                <p class="row">Hello, {{ user.firstname }} !</p>
                <p class="row">
                    <span>Paramètres </span>|<a href="#" (click)="auth.logout()"> Déconnexion</a>
                </p>
            </div>
            <div class="col-md-2">
                Avatar
            </div>
        </div>
    </nav>

    <main class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidemenu">

                <div>
                    <!--Calendrier-->
                    Calendrier
                </div>


                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Événements</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list role="list">
                            <mat-list-item role="listitem">Créer un événement</mat-list-item>
                            <mat-list-item role="listitem">Modifier un événement</mat-list-item>
                            <mat-list-item role="listitem">Ajouter une catégorie</mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="redirectTo('task')">
                        <mat-expansion-panel-header>
                            <mat-panel-title>Tâches</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list role="list">
                            <mat-list-item role="listitem" routerLink="/task">Afficher les tâches</mat-list-item>
                            <mat-list-item role="listitem" routerLink="/task/new">Créer une tâche</mat-list-item>
                            <mat-list-item role="listitem">Ajouter une catégorie</mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Projets</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list role="list">
                            <mat-list-item role="listitem">Tous les projets</mat-list-item>
                            <mat-list-item role="listitem">Ajouter un projet</mat-list-item>
                            <mat-list-item role="listitem">Ajouter une catégorie</mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>

                    <mat-expansion-panel routerLink="calendar">
                        <mat-expansion-panel-header>
                            <mat-panel-title>Calendrier</mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="row justify-content-around">
                            <span>Event</span>
                            <span>Tout</span>
                            <span>Tâche </span>
                        </div>
                        <div class="row justify-content-center">
                            <mat-slider class="col-sm-9" [min]="0" [max]="100" [step]="50"></mat-slider>
                        </div>

                        <div class="row justify-content-around">
                            <span>Aujourd'hui</span>
                            <span>Cette semaine</span>
                        </div>
                        <div class="row justify-content-center">
                            <mat-slider class="col-sm-7" [min]="0" [max]="100" [step]="100"></mat-slider>
                        </div>

                        <div class="row justify-content-center">
                            <mat-form-field class="col-sm-9">
                                <mat-select placeholder="Sélectionnez un projet" [(value)]="selectedProject">
                                    <mat-option value="default">Tous les projets</mat-option>
                                    <mat-option *ngFor="let proj of projects" [value]="proj.value"></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="row justify-content-center">
                            <mat-form-field class="col-sm-9">
                                <mat-select placeholder="Sélectionnez une catégorie" [(value)]="selectedCategory">
                                    <mat-option value="default">Toutes les catégories</mat-option>
                                    <mat-option *ngFor="let cat of categories" [value]="cat.value"></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <div class="col-md-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
</div>
