<main class="container">
    <h2>Inscription</h2>

    <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
        <div class="row justify-content-center">
            <mat-form-field>
                <input type="email" name="email" ngModel matInput placeholder="Email" required>
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field>
                <input type="password" name="password" ngModel matInput placeholder="Mot de passe" required>
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field>
                <input type="text" name="lastname" ngModel matInput placeholder="Nom" required>
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field>
                <input type="text" name="firstname" ngModel matInput placeholder="Prénom" required>
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <button mat-raised-button [disabled]="registerForm.invalid" color="link">M'inscrire</button>
        </div>
    </form>

    <div *ngIf="error">
        <p>Une erreur s'est produite : {{ errorMessage }}</p>
    </div>
</main>

